body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 90%;
    width: 400px;
    position: relative; /* Añadido para posicionar las sugerencias */
}

input, button {
    padding: 10px;
    margin: 10px;
    width: calc(75% - 22px); /* Modificado para el tamaño del input */
}

button {
    width: calc(25% - 22px); /* Tamaño del botón */
    align-self: flex-start; /* Alineación del botón a la derecha */
}

#sugerencias {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    width: calc(75% - 22px);
    margin-left: 11px;
    border-radius: 4px;
    display: none;
}

.sugerencias div {
    padding: 10px;
    cursor: pointer;
}

.sugerencias div:hover {
    background-color: #f4f4f4;
}

#historial {
    text-align: left;
    margin-top: 20px;
    max-height: 100px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
