/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

.container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* Títulos */
h1, h2 {
    text-align: center;
    margin: 20px 0;
}

/* Inputs y botones */
.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-group input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.input-group button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
}

.input-group button:hover {
    background-color: darkgray;
}

/* Estilo del historial y resultados */
#historial {
    margin: 20px 0;
}

.historial-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

#resultados {
    margin: 20px 0;
}

#resultados .descripcion {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#resultados .precio-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

#resultados .precio-item span:first-child {
    font-weight: bold;
}

/* Para poner los precios en negrita */
#resultados .precio-item strong {
    font-weight: bold;
}

/* Para ajustar la visualización de las cuotas */
#resultados .precio-item-cuota {
    justify-content: flex-end;
}

/* Menú desplegable */
.dropdown {
    margin: 20px 0;
}

.dropdown select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.dropdown button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

.dropdown button:hover {
    background-color: darkgray;
}
