/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: #ffffff;
}

.fecha-actualizacion {
    font-size: 12px;
    text-align: right;
    margin-bottom: 10px;
    color: #666666;
}

h1, h2 {
    text-align: center;
    color: #444444;
    font-size: 18px;
}

.input-group {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.input-group input[type="number"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    flex: 1;
    margin-right: 5px;
}

.input-group button, .btn-limpiar, .btn-toggle {
    padding: 10px;
    background-color: #dddddd;
    border: none;
    color: #000000;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    flex: 0 0 auto;
}

.input-group select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 5px;
    flex: 1;
}

.input-group button:hover, .btn-limpiar:hover, .btn-toggle:hover {
    background-color: #cccccc;
}

#resultados p.descripcion {
    text-align: center;
    font-size: 16px;
    margin: 10px 0;
}

#resultados .precio-item {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 5px 10px;
}

#historial a {
    color: #007bff;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

#historial p {
    margin: 0;
    font-size: 14px;
    color: #666666;
}

#menuDesplegable {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

#menuDesplegable a {
    color: #007bff;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

#menuDesplegable p {
    margin: 0;
    font-size: 14px;
    color: #666666;
}
