body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 90%;
    width: 400px;
    margin-top: 20px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
    text-align: left;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group h2 {
    margin: 0;
    padding: 10px;
    font-size: 16px;
}

input {
    padding: 20px;
    margin: 10px;
    width: 75%;
    font-size: 16px;
}

button {
    padding: 20px;
    margin: 10px;
    width: 25%;
    font-size: 16px;
}

#resultados {
    margin-top: 24px;
    text-align: left;
    font-size: 20px;
}

#resultados p {
    display: flex;
    justify-content: space-between;
}

#resultados .credito p {
    margin-bottom: 5px;
}

#resultados p.cuota {
    justify-content: flex-end;
}

#historial {
    text-align: left;
    margin-top: 20px;
    font-size: 16px;
}

#historial p {
    margin: 5px 0;
}

#historial a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
}

#historial p {
    margin: 5px 0 10px;
    font-size: 14px;
    text-align: justify;
}

.btn-limpiar {
    margin: 0;
    padding: 10px;
    font-size: 12px;
    height: fit-content;
    width: auto;
    margin-left: auto;
}
